---
Checks: >
  -*,
  readability-braces-around-statements,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  readability-*,
  bugprone-*,
  modernize-*,
  llvm-include-order,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-inefficient-algorithm,
  performance-inefficient-string-concatenation,
  performance-inefficient-vector-operation,
  performance-move-const-arg,
  performance-move-constructor-init,
  performance-no-automatic-move,
  performance-no-int-to-ptr,
  performance-trivially-destructible,
  performance-type-promotion-in-math-fn,
  performance-unnecessary-copy-initialization,
  performance-unnecessary-value-param,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-avoid-do-while,
